@charset "UTF-8";

div#pjTop{
text-align: center;
margin: 0;
padding: 0;
}

.mainImage{

background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:100vw;
height: 800px;
position: relative;
top: auto;
left: auto;
z-index: 10;
}
.pj-teapond .mainImage{
background-image: url(../images/projects/teapond/main.jpg);
}
.pj-silkscreen .mainImage{
background-image: url(../images/projects/silkscreen/top.jpg);
}



.mainImage::before{
content:"";
background-color: rgba(248,248,248,0.70);
width: 100%;
height: 100%;
position: absolute;
top:0;
left:0;
}
.titleWrapper{
height: 45%;
width: 60%;
position: absolute;
top:0;
bottom:0;
left: 10%;
margin: auto auto;
text-align: left;



}

.titleWrapper h1{
font-size: 7.7rem;

font-weight:bold;
letter-spacing: 0.1em;

transform:scale(0); 
opacity:0.0;
animation: headingAnimation 1s linear 0.5s 1 normal forwards;
}

.pj-teapond .titleWrapper h1,
.pj-teapond .titleWrapper h2{
color: #D86405;
}

.pj-silkscreen .titleWrapper h1,
.pj-silkscreen .titleWrapper h2{
color: #BF8BCC;
}

/*note: */
/*animation: for 1s duration, linear timing-function, 0.5s delay, 1 iteration-count, normal direction, forward fill-mode*/

.titleWrapper h2{
font-size: 2.4rem;
color: #D86405;
padding: 0px 0px 26px 0px;
transform:scale(0); 
opacity:0.0;
animation: headingAnimation 1s linear 0.5s 1 normal forwards;
}



/*セクション共通*/
section{
width:1062px;
margin: 0 auto;
opacity:0;
transition: all 1.5s ease-in-out;
}


/*プロジェクトサマリー*/
.pjSummery{
height: 700px;
padding: 50px 0px 20px 0px;
margin: 0 auto;
}

.bkgCircleWhite{
background-color: #F7F3E2;
width:700px;
height: 700px;
border-radius: 50%;
margin: 0 auto;
position: relative;
top:auto;
left: auto;
}

.pjSummeryWrapper{
height: 350px;
width: 560px;
margin: auto auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.pj-silkscreen .pjSummeryWrapper{
height: 405px;
}


.pjSummeryTable{
margin: auto auto;
width: 560px;
height: 350px;
text-align: left;
}
.pjSummeryTable tr{

}
.pjSummeryTable th{
width:160px;
border-bottom: solid 1px #C69C6D;
}

.pjSummeryTable td{
width: 350px;
border-bottom: solid 1px #C69C6D;
padding: 10px 0px;
}

.pjSummeryTable p{
padding: 5px 0px;
}
.skills{
width:240px;
height: 30px;
display: flex;
justify-content: flex-start;
margin: 0 auto;
padding: 30px 0px 0px 0px;
}

/*iconの設定*/
.ico-ai{
background-image: url(../images/ico-ai.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;

}


.ico-ai{
background-image: url(../images/ico-ai.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-ps{
background-image: url(../images/ico-ps.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-dw{
background-image: url(../images/ico-dw.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-html{
background-image: url(../images/ico-html.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-css{
background-image: url(../images/ico-css.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-js{
background-image: url(../images/ico-js.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-php{
background-image: url(../images/ico-php.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}
.ico-jquery{
background-image: url(../images/ico-jquery.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

width:30px;
height: 30px;
}

/*intro*/

section#pjIntro{
text-align: center;
height: 200px;
padding: 180px 0px 50px 0px;
margin: 0 auto;
position: relative;
top:auto;
left: auto;
}
section#pjIntro h1{
font-size: 1.8rem;
}

section#pjIntro h2{
padding: 20px 0px 0px 0px;
font-size: 2.4rem;
}

section#pjIntro .bdrBrown{


}
/*points*/

.point{
width: 1062px;
margin: 0 auto;
text-align: center;
padding: 100px 0px 0px 0px;
}


.labelPoint{
background-size: contain;
background-position: top center;
background-repeat: no-repeat;
height: 135px;
padding: 60px 0px 0px 0px;
}

.pointSummery p{
line-height: 2;
}

.pj-teapond #labelPoint1{
background-image: url(../images/projects/teapond/no1.jpg);
}

.pj-teapond #labelPoint2{
background-image: url(../images/projects/teapond/no2.jpg);
}
.pj-teapond #labelPoint3{
background-image: url(../images/projects/teapond/no3.jpg);
}
.pj-teapond #labelPoint4{
background-image: url(../images/projects/teapond/no4.jpg);
}
.pj-teapond #labelPoint5{
background-image: url(../images/projects/teapond/no5.jpg);
}
.pj-teapond #labelPoint6{
background-image: url(../images/projects/teapond/sikaku.jpg);
}


.pj-silkscreen #labelPoint1{
background-image: url(../images/projects/silkscreen/no1.jpg);
}

.pj-silkscreen #labelPoint2{
background-image: url(../images/projects/silkscreen/no2.jpg);
}
.pj-silkscreen #labelPoint3{
background-image: url(../images/projects/silkscreen/no3.jpg);
}
.pj-silkscreen #label-theme-element{
background-image: url(../images/projects/teapond/sikaku.jpg);
}


.pointWrapper{
width: 1062px;
margin: 0 auto;
padding: 90px 0px 0px 0px;
position: relative;
top:auto;
left: auto;
text-align: left;
display: flex;
justify-content: space-around;
}

.pointImages{
width:657px;
display: flex;
justify-content: space-between;
}

.imageWrapper{
width: auto;
}
.bkgShape{
z-index: -1;
background-image: url(../images/projects/teapond/katachi1.jpg);

}
#bkgShape1{

background-position: center top;
background-repeat: no-repeat;
position: absolute;
}
.pj-teapond #bkgShape1{
background-size: 600px 600px;
width: 600px;
height: 600px;

top: 0;
bottom: 0;
left: 50%;
margin: auto auto;
}


.pj-silkscreen #bkgShape1{
background-size: 400px 400px;
width: 450px;
height: 450px;
right: -5px;
top: 10px;
}

#bkgShape2{
background-size: 400px 400px;
background-position: center;
background-repeat: no-repeat;
width: 400px;
height: 400px;
transform: rotate(45deg);
position: absolute;
}

.pj-teapond #bkgShape2 {
right: 0px;
top: 300px;

}
.pj-silkscreen #bkgShape2 {
right: 0px;
top: 200px;
}

#bkgShape3{
background-size: 400px 400px;
background-position: center;
background-repeat: no-repeat;
width: 400px;
height: 400px;
transform: rotate(90deg);
position: absolute;

}
.pj-teapond #bkgShape3 {
top: 130px;
right: 30px;
}
.pj-silkscreen #bkgShape3 {
top: 120px;
right: 25px;
}

#bkgShape4{
background-size: 400px 400px;
background-position: center;
background-repeat: no-repeat;
width: 400px;
height: 400px;
transform: rotate(135deg);
position: absolute;

top: 100px;
right: 30px;
}

#bkgShape5{
background-size: 500px 500px;
background-position: center;
background-repeat: no-repeat;
width: 500px;
height: 500px;
transform: rotate(180deg);
position: absolute;
top: 100px;
right: -30px;
}


.pointDetail{
width: 290px;
height: 100%;
margin: auto auto;
}

.pointDetail p{
padding: 0px 0px 10px 0px;
}
.imageWrapper img{
padding: 15px;
}


#labelPoint6,
#label-theme-element{
padding: 54px;
}

.pointWrapper div.fonts{
width:30%;
}

#point6 .pointWrapper div.logo{
width: 20%;
}

#theme-element .pointWrapper div.logo{
width: 30%;
}


#point6 .pointWrapper div.elements{
width: 50%;
position: relative;
top:auto;
left: auto;
text-align: center;
}


#theme-element .pointWrapper div.elements{
width:30%;

}

#point6 .pointWrapper div.fonts img,
#point6 .pointWrapper div.logo img{
width: 80%;
}


.pointWrapper div.fonts img,
.pointWrapper div.logo img{
padding: 0px 0px 60px 10px;
}

.pointWrapper p{
padding: 0px 0px 70px 0px;
}
.pointWrapper h5{
font-size: 1.4rem;
padding: 0px 0px 40px 0px;
letter-spacing: 0.1em;
}
.bdrBrown{
background-image: url(../images/projects/teapond/bdr-brown.jpg);
background-size: 1058px 2px;
background-position: center top;
background-repeat: no-repeat;
width: 1058px;
height: 2px;
position: absolute;
top: 130px;
left: 0px;
}

.slideWrapper{
width: 433px;
margin: 0 auto;
}
.slickSlide{

}

.slick-arrow{
width:20px;
height: 20px;
border-radius: 50%;
box-shadow: 0px 2px 7px 0px #626668;
cursor: pointer;
}

.slick-arrow:hover{
transform:translateY(2px);
box-shadow: none;
transition: all 0.1s linear;
cursor: pointer;
}


img#slickArrowLeft{
position:absolute;
top: 50%;
left:0;
}

img#slickArrowRight{
position:absolute;
top: 50%;
right:0;
}

.slickSlide .slick-dots{
bottom: -50px;
}



.btnLaunch{
content: "Launch";
background-image: url(../images/btn-launch.png);
background-size: 27px 27px;
background-position: center top;
background-repeat: no-repeat;
width: 27px;
height: 27px;
padding: 30px 0px 0px 0px;
position: relative;
opacity:0;
animation: headingAnimation 1s linear 1s 1 normal forwards;
}


/*intro heading animation*/

@keyframes headingAnimation {
    0%   { transform:scale(0.5); opacity:0.0; }
    100% { transform:scale(1.0); opacity:1.0; }
}